html {
    scroll-behavior: smooth;
    color: white;
}

* {
    font-family: monospace, sans-serif;
    margin-left: 0;
    margin-top: 0;
    font-size: 1rem;
}

body {
    background-color: #000022;
    animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #000022;
    }

    50% {
        background-color: #000033;
    }

    100% {
        background-color: #000022;
    }
}

.navigation a {
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 1.5rem;
}

header {
    background-color: var(--primary-color);
    height: 4vw;
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 999;
}

.navigation {
    height: 5vw;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    margin-top: 2.5vw;
}

.intro {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(Image/closeup-black-electric-guitar-dark-background.jpg);
    height: 45vw;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
}


.intro h1 {
    overflow: hidden;
    border-right: .15em;
    white-space: nowrap;
    animation: typing 5s steps(40, end) alternate infinite;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    color: white;
    margin-top: -2vw;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

    0% {
        color: white;
    }

    50% {
        color: #ff9500;
    }

    100% {
        color: white;
    }

}

.bioEtImage {
    display: flex;
    align-items: center;
    text-align: center;
}

.classique {
    display: flex;
    align-items: center;
    text-align: center;
}

.accoustique {
    display: flex;
    align-items: center;
    text-align: center;
}

.folk {
    display: flex;
    align-items: center;
    text-align: center;
}

.electrique {
    display: flex;
    align-items: center;
    text-align: center;
}

.basse {
    display: flex;
    align-items: center;
    text-align: center;
}

.bio h1 {
    text-align: center;
    font-size: 2.5rem;
}

.type h1 {
    text-align: center;
    font-size: 2.5rem;
}

.accessoire h1 {
    text-align: center;
    font-size: 2.5rem;
}

.conseil h1 {
    text-align: center;
    font-size: 2.5rem;
}

.conseil {
    text-align: center;
}

.accessoire1 {
    display: flex;
    text-align: center;
    align-items: center;
}


.accessoire2 {
    display: flex;
    text-align: center;
    align-items: center;
}

.mediator {
    border: solid;
    width: 50vw;
    height: 25vw;
    border-radius: 2vw;
    margin-left: 1vw;
}

.capodastre {
    border: solid;
    width: 50vw;
    height: 25vw;
    margin-left: 1vw;
    border-radius: 2vw;
}


.corps {
    padding-top: 45vw;
}

.accordeur {
    border: solid;
    width: 50vw;
    height: 25vw;
    margin-left: 1vw;
    border-radius: 2vw;
    margin-top: 2vw;
}

.metronome {
    border: solid;
    width: 50vw;
    height: 25vw;
    margin-left: 1vw;
    border-radius: 2vw;
    margin-top: 2vw;
}

footer {
    background-color: var(--primary-color);
    height: 10vw;
    width: auto;
    position: relative;
    position: absolute;
    width: 100%;
    height: auto;
}

.pied {
    display: flex;
    padding-top: 2vw;
    margin-top: 1vw;
}

.contact {
    margin-left: 55vw;
}

:root {
    --primary-color: #ff9500;
    --secondary-color: rgb(0, 51, 255);
}

.logoEtNom {
    display: flex;
    text-align: center;
    align-items: center;
}

.nom {
    display: flex;
}

.nom2 {
    color: var(--secondary-color);
}

.logo img {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}

.partenaire {
    margin-left: 2vw;
}

@media screen and (max-width : 1120px) {
    header {
        display: flex;
        flex-direction: column;
        height: 20vw;
    }

    .navigation a {
        display: flex;
        flex-direction: column;
    }

    .corps {
        padding-top: 100vw;
    }

    .mediator {
        height: 30vw;
    }

    .capodastre {
        height: 30vw;
    }

    .accordeur {
        height: 30vw;
    }

    .metronome {
        height: 30vw;
    }

}